In [1]:
import pandas as pd
import pandera as pa

In [2]:
df_full = pd.read_csv('ocorrencia_2010_2020.csv', sep=';', parse_dates=['ocorrencia_dia'])
df = df_full[['codigo_ocorrencia','codigo_ocorrencia2','ocorrencia_classificacao','ocorrencia_cidade','ocorrencia_uf','ocorrencia_aerodromo','ocorrencia_dia','ocorrencia_hora','total_recomendacoes']]
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-03-01,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-03-01,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-03-01,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-04-01,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-05-01,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [3]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [5]:
schema = pa.DataFrameSchema({'codigo_ocorrencia' : pa.Column(pa.Int),
                           'codigo_ocorrencia2' : pa.Column(pa.Int),
                           'ocorrencia_classificacao' : pa.Column(pa.String),
                           'ocorrencia_cidade' : pa.Column(pa.String),
                           'ocorrencia_uf' : pa.Column(pa.String),
                           'ocorrencia_aerodromo' : pa.Column(pa.String),
                           'ocorrencia_dia' : pa.Column(pa.DateTime),
                           'ocorrencia_hora' : pa.Column(pa.String, nullable=True),
                           'total_recomendacoes' : pa.Column(pa.Int)})
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-03-01,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-03-01,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-03-01,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-04-01,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-05-01,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [6]:
df.replace(['**','****','*****','####','###!','NULL'], pd.NA, inplace=True)

C:\Users\caiog\anaconda3\lib\site-packages\pandas\core\frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [7]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-03-01,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-03-01,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-03-01,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-04-01,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-05-01,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [8]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [9]:
df_full.loc[df.ocorrencia_uf.str.len() != 2]

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
2227,49474,49474,49474,49474,49474,ACIDENTE,-6.7119444444,-32.9919444444,ÁGUAS INTERNACIONAIS,***,...,2013-02-09,02:54:00,SIM,FINALIZADA,A-158/CENIPA/2013,SIM,2018-05-10,0,1,NÃO

In [10]:
df.replace(['**','***','****','*****','####','###!','NULL'], pd.NA, inplace=True)

C:\Users\caiog\anaconda3\lib\site-packages\pandas\core\frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [11]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [12]:
df_full.loc[df.ocorrencia_aerodromo.str.len() != 4,'ocorrencia_aerodromo']

0       ****
3       ****
5       ****
7       ****
9       ****
        ...
5741    ****
5744    ****
5745    ****
5748    ****
5750    ****
Name: ocorrencia_aerodromo, Length: 2349, dtype: object

In [13]:
df_full.loc[df.ocorrencia_aerodromo.str.len() != 4,'ocorrencia_aerodromo'].unique()

array(['****', '*****', '###!', '####'], dtype=object)

In [21]:
df.groupby(['ocorrencia_uf']).size()

ocorrencia_uf
AC      58
AL      33
AM     233
AP      13
BA     213
CE      88
DF     135
ES      75
GO     309
MA      75
MG     529
MS     151
MT     292
PA     287
PB      24
PE      98
PI      40
PR     485
RJ     516
RN      16
RO      37
RR      55
RS     352
SC     189
SE      21
SP    1373
TO      54
dtype: int64

In [22]:
df.groupby(['ocorrencia_uf']).sum('total_recomendacoes')

               codigo_ocorrencia  codigo_ocorrencia2  total_recomendacoes
ocorrencia_uf
AC                       3360704             3360704                   23
AL                       2195206             2195206                   14
AM                      13239755            13239755                  100
AP                        807106              807106                    2
BA                      12038889            12038889                  133
CE                       5242324             5242324                   31
DF                       7302495             7302495                   50
ES                       4387288             4387288                   18
GO                      17913383            17913383                  108
MA                       4357495             4357495                   28
MG                      31297764            31297764                   88
MS                       9223355             9223355                   40
MT                      17514994            17514994                   56
PA                      16860049            16860049                  150
PB                       1388537             1388537                    7
PE                       5779414             5779414                   53
PI                       2341908             2341908                   24
PR                      28757646            28757646                  151
RJ                      28449411            28449411                  116
RN                        944006              944006                    5
RO                       2360036             2360036                   13
RR                       3145709             3145709                   29
RS                      20858678            20858678                  153
SC                      11484739            11484739                   39
SE                       1110175             1110175                   15
SP                      81015891            81015891                  291
TO                       3089796             3089796                   11

In [24]:
filtro = df.ocorrencia_uf == 'AL'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
193,41174,41174,INCIDENTE,MACEIÓ,AL,SBMO,2010-05-18,21:50:00,0
206,41236,41236,ACIDENTE,FELIZ DESERTO,AL,SNUZ,2010-05-29,09:55:00,3
523,43458,43458,INCIDENTE GRAVE,ÁGUA BRANCA,AL,<NA>,2010-11-12,11:00:00,0
755,44677,44677,INCIDENTE,MACEIÓ,AL,SBMO,2011-04-22,20:05:00,0
936,44966,44966,ACIDENTE,NOVO LINO,AL,<NA>,2011-08-15,19:00:00,1
1273,52057,52057,INCIDENTE,MACEIÓ,AL,SBMO,2012-03-26,13:19:00,0
1668,46673,46673,INCIDENTE,MACEIÓ,AL,SBMO,2012-05-11,14:48:00,0
1696,46693,46693,INCIDENTE,RIO LARGO,AL,<NA>,2012-11-21,13:10:00,0
2400,50431,50431,INCIDENTE,MATRIZ DE CAMARAGIBE,AL,<NA>,2013-12-16,18:14:00,0
2831,52335,52335,INCIDENTE,MACEIÓ,AL,SBMO,2014-02-09,19:35:00,0
3192,53262,53262,INCIDENTE GRAVE,IBATEGUARA,AL,<NA>,2015-05-20,15:10:00,3
3341,53488,53488,ACIDENTE,MACEIÓ,AL,<NA>,2015-09-23,14:00:00,6
3939,66455,66455,INCIDENTE,MACEIÓ,AL,SBMO,2017-02-27,01:56:00,0
4068,66854,66854,INCIDENTE,MACEIÓ,AL,SBMO,2017-08-06,14:18:00,0
4306,77617,77617,INCIDENTE,CAMPO GRANDE,AL,SBCG,2018-04-01,20:44:00,0
4312,77682,77682,INCIDENTE,BELÉM,AL,SBBE,2018-09-01,23:39:00,0
4325,77656,77656,INCIDENTE,CAMPO GRANDE,AL,SBCG,2018-01-18,20:28:00,0
4330,77676,77676,INCIDENTE,BELÉM,AL,SBBE,2018-01-21,16:40:00,0
4394,77755,77755,INCIDENTE GRAVE,MARAGOGI,AL,<NA>,2018-03-18,17:15:00,0
4543,78024,78024,INCIDENTE,BELÉM,AL,SBBE,2018-10-07,10:38:00,0
4556,78061,78061,INCIDENTE,CAMPO GRANDE,AL,SBCG,2018-07-18,11:11:00,0
4632,78205,78205,INCIDENTE,CAMPO GRANDE,AL,SBCG,2018-09-25,17:19:00,0
4671,78278,78278,INCIDENTE GRAVE,MACEIÓ,AL,SNGS,2018-10-31,20:15:00,0
4727,78366,78366,INCIDENTE,BELÉM,AL,SBJC,2018-12-13,15:58:00,0
4738,78383,78383,INCIDENTE GRAVE,MACEIÓ,AL,SBMO,2018-12-23,02:23:00,1
4753,78409,78409,INCIDENTE,CAMPO GRANDE,AL,SBCG,2019-05-01,20:12:00,0
4811,78535,78535,ACIDENTE,BELÉM,AL,<NA>,2019-02-13,14:20:00,0
5190,79016,79016,INCIDENTE,MACEIÓ,AL,<NA>,2019-11-24,10:42:00,0
5339,79255,79255,INCIDENTE,MACEIÓ,AL,<NA>,2020-02-26,08:30:00,0
5577,79527,79527,INCIDENTE,MACEIÓ,AL,SBMO,2020-02-09,19:30:00,0
5597,79564,79564,INCIDENTE GRAVE,ARAPIRACA,AL,SNAL,2020-09-13,16:40:00,0
5688,79698,79698,INCIDENTE,MACEIÓ,AL,SBMO,2020-11-23,10:35:00,0
5724,79740,79740,INCIDENTE,RIO LARGO,AL,SBMO,2020-12-17,14:26:00,0

In [37]:
df.groupby(['ocorrencia_uf']).sum('total_recomendacoes').loc[:,'total_recomendacoes']

ocorrencia_uf
AC     23
AL     14
AM    100
AP      2
BA    133
CE     31
DF     50
ES     18
GO    108
MA     28
MG     88
MS     40
MT     56
PA    150
PB      7
PE     53
PI     24
PR    151
RJ    116
RN      5
RO     13
RR     29
RS    153
SC     39
SE     15
SP    291
TO     11
Name: total_recomendacoes, dtype: int64